@use "../abstracts/mixins" as m;

.page {
  position: relative;
  margin: 0 auto;

  width: min(1180px, calc(100% - 32px));
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 18px;
  z-index: 100;

  @include m.flex-center;
}

main {
  flex: 1;
}